<div id='card-3' class='card center'>
	<div class='content'>
		<div class='whitebg well albumExplainer'>
			<p>Title Fight has released 51 songs over four full-length albums, an EP and two singles</p>
		</div>
		<div class='albums'>
			{{#each albumsBase}}
				<div class='album'>
					<p>{{name}}</p>
					<img src='{{images.0.url}}'></img>
				</div>
			{{/each}}
		</div>
	</div>
</div>