	<div id='card-1' class='card center'>
		<div class='part'>
			<div class='background'></div>
			<div class='headline content'>
				<h2>An audiovisual ode to</h2>
				<h1>Title</h1>
				<h1>Fight</h1>
				<h3>By Sawyer Click</h3>
				<h2 class='button'>Tap anywhere to continue</h2>
			</div>
		</div>
		<div class='part' id='explainer'>
			<div class="left">
				<p>Click left to go back</p>
			</div>
			<div class="right"></div>
		</div>
	</div>