<div id='card-2' class='card center'>
	<div class='content'>
		{{!-- <div class='part'> --}}
			<div class='background-image'>
				<img src='https://i.scdn.co/image/f655f973e8e6ac3b8e556d1dbc11aac05d19a2b4'/>
			</div>
			<div class='introText well'>
				<h1>This is Title Fight</h1>
				<p>They're not a band anymore, but they're still my favorite. I listen to their music every day, and Spotify tells me I'm not alone, with at least 211k other people listening to them every month.</p>
				<p>The Kingston, PA, group hasn't released music since the 2015 release of Hyperview, their fourth studio album. Members of the bands have gone of to other projects, of which I'd recommend Glitterer. Still, Title Fight's fanbase - including me - has yet to give up hope for a new album.</p>
			</div>
		</div>
{{!-- 			<div class='part well secondText'>
			<p>Let's dive into their discography using data from Spotify and figure out why.</p>
		</div> --}}
	{{!-- </div> --}}
</div>