<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/main.scss">
  <title>LIKE A RITUAL | Sawyer Click</title>
  {{> base/meta}}
</head>
<body>
  {{!-- {{> base/headline }} --}}
  <main id='content'>
    {{{body}}}
  </main>
  {{> base/scripts }}
</body>
</html>